name: CoinSpace CI2

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build-android:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/master'
    env:
      NODE_ENV: production
      ANDROID_SDK_ROOT: /usr/local/lib/android/sdk
      PATH: /usr/local/lib/android/sdk/platform-tools:/usr/local/lib/android/sdk/build-tools/33.0.2:$PATH
      VITE_BUILD_TYPE: phonegap
      VITE_PLATFORM: android
      VITE_DISTRIBUTION: android-apk
      NODE_OPTIONS: --max-old-space-size=3575
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ANDROID_KEYSTORE: phonegap/release.apk.keystore
      ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_APK_KEYSTORE_PASSWORD }}
      ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_APK_KEY_ALIAS }}
      ANDROID_KEY_PASS: ${{ secrets.ANDROID_APK_KEY_PASSWORD }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm ci --prefix web
          npm ci --prefix phonegap

      - name: Install Cordova
        run: npm install -g cordova

      - name: Decode Keystore
        run: echo $ANDROID_APK_RELEASE_KEYSTORE | base64 --decode > phonegap/release.apk.keystore

      - name: Build Android APK
        run: |
          cd phonegap
          cordova platform add android || true
          cordova build android --release \
            -- --keystore=$ANDROID_KEYSTORE \
            --storePassword=$ANDROID_KEYSTORE_PASS \
            --alias=$ANDROID_KEY_ALIAS \
            --password=$ANDROID_KEY_PASS

      - name: Upload APK to GitHub Releases
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ github.run_number }}
          name: Android APK
          files: phonegap/platforms/android/app/build/outputs/apk/release/app-release.apk
          draft: true